<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Canlı Video İletişimi</title>
</head>
<body>
  <video id="videoElement" autoplay width="640" height="640"></video>
  <canvas id="canvas2" width="640" height="640"></canvas>
  <div id="counterDisplay" style=
  "font-size: 5.75em;
  width: 1920px;
  justify-content: center;
  font-weight: bolder;
  ">0</div>
  <div style=" display: flex; justify-content: center;
  ">
    <button id="resetCounter"  >Sıfırla</button>
  </div>
  <script>
    const image = new Image();
    image.src = 'https://png.pngtree.com/png-vector/20220713/ourmid/pngtree-png-image-of-a-man-shooting-with-bow-png-image_5931591.png';
    const canvas2 = document.getElementById('canvas2');
    const context2 = canvas2.getContext('2d');
    let counter = 0;

    
      // Belirli konumları ve nokta renklerini ayarla
    let points = [
      { x: 75, y: 320, color: 'red' },
      { x: 200, y:  330, color: 'red' },
      { x: 175, y:  355, color: 'red' },
      { x: 265, y:  355, color: 'red' },
      { x: 345, y:  352, color: 'red' },
      { x: 415, y:  350, color: 'red' },
      { x: 445, y:  350, color: 'red' },
    ];

    image.onload = function() {
      context2.drawImage(image, 0, 0, canvas2.width, canvas2.height);


      // Noktaları çizin
      points.forEach(point => {
        context2.beginPath();
        context2.arc(point.x, point.y, 7, 0, 2 * Math.PI);
        context2.fillStyle = point.color;
        context2.fill();
        context2.closePath();
      });
    };
  const counterDisplay = document.getElementById('counterDisplay');
  const resetButton = document.getElementById('resetCounter');
  const canvasWidth = 640;
  const canvasHeight = 480;

  const videoElement = document.getElementById('videoElement');
  const canvas = document.createElement('canvas');
  canvas.width = canvasWidth;
  canvas.height = canvasHeight;
  const context = canvas.getContext('2d');

  const audioElement = new Audio();

  resetButton.addEventListener('click', () => {
  counter = 0;
  updateCounterDisplay(); // Sayaçı güncelleyin
  });

  function playSound(issue) {
    if (issue !== 0) {
      const soundFilePath = `static/sounds/${issue}.wav`;
      audioElement.src = soundFilePath;
      audioElement.play();
    }
  }

  function updateCounterDisplay() {
  counterDisplay.textContent = counter;
  }

  function drawColoredPoint(context, x, y, color) {
  context.beginPath();
  context.arc(x, y, 7, 0, 2 * Math.PI);
  context.fillStyle = color;
  context.fill();
  context.closePath();
  }


function sendImageDataToServer(imageData) {
  const formData = new FormData();
  formData.append('imageData', imageData);


  fetch('/receive_image', {
    method: 'POST',
    body: formData
  })
  .then(response => response.json())
  .then(data => {
    const issues = data.issues;
    playSound(issues[0]);
    
  if (issues.includes(9) == true){
    points.forEach(point => {
      drawColoredPoint(context2, point.x, point.y, 'red');
      counter = 0;
      updateCounterDisplay();
    });
  }

  else if (issues.includes(-1) == true){
    points.forEach(point => {
      drawColoredPoint(context2, point.x, point.y, 'green');
      counter = 0;
      updateCounterDisplay();
    });
  }
  
  else {
    counter++;
    updateCounterDisplay();
    if (issues.includes(1) || issues.includes(2)) {
      drawColoredPoint(context2, points[0].x, points[0].y, 'red');
    } else {
      drawColoredPoint(context2, points[0].x, points[0].y, 'green');
    }


    if (issues.includes(3)) {
      drawColoredPoint(context2, points[2].x, points[2].y, 'red');
      drawColoredPoint(context2, points[3].x, points[3].y, 'red');
    } else {
      drawColoredPoint(context2, points[2].x, points[2].y, 'green');
      drawColoredPoint(context2, points[3].x, points[3].y, 'green');
    }
    if (issues.includes(5)){
      drawColoredPoint(context2, points[4].x, points[4].y, 'red');
    } else {
      drawColoredPoint(context2, points[4].x, points[4].y, 'green');
    }
    if (issues.includes(6)){
      drawColoredPoint(context2, points[5].x, points[5].y, 'red');
    } else {
      drawColoredPoint(context2, points[5].x, points[5].y, 'green');
    }
    if (issues.includes(7)){
      drawColoredPoint(context2, points[6].x, points[6].y, 'red');
    } else {
      drawColoredPoint(context2, points[6].x, points[6].y, 'green');
    }
    if (issues.includes(8)){
      drawColoredPoint(context2, points[7].x, points[7].y, 'red');
    } else {
      drawColoredPoint(context2, points[7].x, points[7].y, 'green');
    }
    }})
  .catch(error => console.error('Sunucu Hatası:', error));


}


let lastTime = 0;
function captureAndSendImage(timestamp) {
  if (timestamp - lastTime >= 5000) {
    lastTime = timestamp;
    context.drawImage(videoElement, 0, 0, canvasWidth, canvasHeight);
    const imageData = canvas.toDataURL('image/jpeg');
    sendImageDataToServer(imageData);
  }
  requestAnimationFrame(captureAndSendImage);
}

navigator.mediaDevices.getUserMedia({ video: true })
  .then(stream => {
    videoElement.srcObject = stream;
    videoElement.play();
    requestAnimationFrame(captureAndSendImage);
  })
  .catch(error => console.error('Hata:', error));
  </script>
</body>
</html>

<style>
#counterDisplay {
 display: table-cell;
 text-align: center;
 vertical-align: middle;
}

#counterDisplay:before {
 position: absolute;
 top: -1;
 left: 0;
 width: 100vw;
 height: 10vh;
 background: rgba(10, 10, 10, 10, 10);
}
#counterDisplay:after {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100vw;
 height: 12vh;
}

#result {
 text-transform: uppercase;
}
a:link,
a:hover,
a:visited,
a:active {
 text-decoration: bold;
}

</style>