<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Canlı Video İletişimi</title>
</head>
<body>
  <video id="videoElement" autoplay width="640" height="480"></video>
  <script>
    const canvasWidth = 640;
const canvasHeight = 480;

const videoElement = document.getElementById('videoElement');
const canvas = document.createElement('canvas');
canvas.width = canvasWidth;
canvas.height = canvasHeight;
const context = canvas.getContext('2d');

const audioElement = new Audio();

function playSound(issue) {
  if (issue !== 0) {
    const soundFilePath = `static/sounds/${issue}.wav`;
    audioElement.src = soundFilePath;
    audioElement.play();
  }
}

function sendImageDataToServer(imageData) {
  const formData = new FormData();
  formData.append('imageData', imageData);

  // Oturum anahtarını başlık olarak ekleyin
  formData.append('session_key', localStorage.getItem('sessionKey'));

  fetch('/receive_image', {
    method: 'POST',
    body: formData
  })
  .then(response => response.json())
  .then(data => {
    const issue = data.issue;
    playSound(issue);
  })
  .catch(error => console.error('Sunucu Hatası:', error));
}


let lastTime = 0;
function captureAndSendImage(timestamp) {
  if (timestamp - lastTime >= 5000) {
    lastTime = timestamp;
    context.drawImage(videoElement, 0, 0, canvasWidth, canvasHeight);
    const imageData = canvas.toDataURL('image/jpeg');
    sendImageDataToServer(imageData);
  }
  requestAnimationFrame(captureAndSendImage);
}

navigator.mediaDevices.getUserMedia({ video: true })
  .then(stream => {
    videoElement.srcObject = stream;
    videoElement.play();
    requestAnimationFrame(captureAndSendImage);
  })
  .catch(error => console.error('Hata:', error));
  </script>
</body>
</html>
